<h4>Hey!  Here is your gist!</h4>

<p>
	<%= gist.escape('title') %>
	<% if (gist.escape('favourite')) { %>
		<button class='unfavourite' data-id="<%= gist.id %>">Unfavourite</button>
	<% } else { %>
		<button class='favourite' data-id="<%= gist.id %>">Favourite</button>
	<% } %>
</p>

<pre><%= gist.escape('details') %></pre>

<a href="#" id="back">Back</a>